/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@400;500;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); */

* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

body {
	font-family: 'Roboto', Helvetica, sans-serif;
    margin: auto;
    max-width: 1200px;
}
.padre {
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno {
    padding: 0 50px;
} 

    .header {
        background: url(../img/header.jpg);
        flex-flow: column nowrap;
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        margin-bottom: .5em;
        overflow: hidden;
/*         height: 250px; */
/*         width: 1160px; */
       
    }

    /****** MENÚ ******/
        .menu {
            font-family: 'Roboto Condensed';    
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
        }

            .logo {
                margin: auto;
                padding: 0px;
                flex: 1 1 auto;
             }
           
            .logo_img img{
                object-fit: cover;
                flex: 1 1 auto;
                width: auto;
                height: 6em;
            }

            .nav {
                flex: 5 1 auto;
                align-self: center;
            }

                .nav a {
                    padding: 0 10px;
                    text-decoration: none;
                    color: silver;
                }

                .nav a:hover {
                    text-decoration: none;
                    color: dimgray;
                }        

                .social{
                    margin: 0px;
                    border: 0px;
                    padding: 0px;
                    display: flex;
                    flex-flow: row nowrap;
                    flex: 1 1 auto;
                }
        
                .social i{
                    padding: 2px;
                    display: flex;
                    align-self: auto;

                }
        
                .social a {
                    border: 0px;
                    color: silver;
                    text-decoration: none;
                }
                .social a:hover{
                    color: dimgray;
                
                }

    /****** FINAL MENÚ ******/

    .text_header {
        font-family: 'Roboto Slab';
	    text-align: center;
        background: rgba(0,0,0,.1);
        /* margin: 0px 3em; */
        margin: 0px 3em -20px 3em;
    }
       h1 {
            padding: 33px 25px 0px 25px;
            color: #ee7463;
            margin-bottom: 43px;
            bottom:0px;
        
              
        }
        
        .text_header i{
            vertical-align: bottom;
            font-size: .8em;

        }

    .seccion {
        margin: 0px;
        /* background: #dcdcdc; */
        display: flex;
        padding: 10px 0px 10px 0px;
    }

    .articulos {
/*         flex:2 1 auto; */
        display: flex;
        flex-flow: row wrap;
        background: rgb(223, 223, 223);
        /* padding: 4px; */
        margin-right: .3em;
    
    }
        
        .articulo{
            flex: 1 1 45%;
            color: dimgray;
            font-size: 13px;
            text-align: start;
            margin: 10px 10px 0px 0px;
            background: #f7f7f7;
        }

        .columnas{
            column-count: 2; /* número de columnas */
            column-gap: 10px; /* ancho de columnas */
            /*  column-rule: 1px outset dimgray; */   /* crea un elemento de separación entre columnas (una línea vertical) */
            }

        .articulo img{
            width: 100%;
            margin-bottom: 1em;
        }

        .articulo a{
            color: #fff;
            font-size: 13px;
            padding: 10px;
            background: silver;
            margin: 10px 0px 0px 10px;
            display: inline-block;
            text-decoration: none;

        }

        .articulo a:hover{ /****** TEXTO --> Leer más... ******/
            background: #ee746390;
        }
       
        .articulo h3{
            font-family: 'Roboto';
            font-weight: 300;
            color: rgb(251, 241, 92);
            font-size: 14px;
            padding: 15px 0px 5px 0px;
            margin-left: 20px;
            margin-top: -68px;
        
        }

       .articulo h2{
            display: flex;
            font-family: 'Roboto Condensed';
            font-size: 28px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 10px;
            padding: 10px;
            color: white;
            background-color: #ee7463;  
            flex: 1 1 auto;          
        }

        p{
            font-size: 14px;
        }

        .texto_de_abajo {
            width: 100%;
            text-align: center;
        }

    aside {
        background: rgb(223, 223, 223);
        flex: 1 1 auto;
  /*       padding: 10px 0px 0px 5px; */
        flex-flow: column wrap;
        margin: 0 auto;
    }

        .publi {
        width: 200px;
        }

       .publi h4{
            /* background-color: black; */
            color: #000;
            padding: 10px;
            font-size: 12px;
        } 

        .publi p{
            font-size: 12px;
        }

        .aside_img{
            background: whitesmoke;
            padding: 5px;
            width: 100%;
            height: auto;
        } 

    .navegacion {
        background: #FFC3C3;
        flex: 1 1 100%;
    }

    .footer {
        background: dimgray;
        display: flex;
        justify-content: center;
    }
        .pie {
            width: 300px;
            text-align: center;
            color: #fff;
        }



    /*
    @media (max-width: 600px) {
        nav {

        }
        .nav-link {
            margin: 10px 0;
        }
        .nav-button {
            display: inline-block;
        }

        .invisible {
            display: none;
        }
    }

    */



/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .menu {
        border: 4px;
        padding: 2px;
        flex-direction: column;
        align-items: stretch;
    }

    .nav a{
        font-size: 14px;
    }

       h1 {
            font-size: 1.3em;
              
        }
        
        .text_header i{
            vertical-align: bottom;
            font-size: 0.8em;

        }

    .social{
        display: flex;
        flex-flow: row wrap;
        align-self: center;
        border: 0px;
        padding: 5px;
    }
    .columnas{
        column-count: 1;
        width: 100%;
    }

    .header {
        overflow: hidden;
        flex-direction: column;
        align-items: stretch;
    }

    .seccion{
        flex-direction: column;
    }

    .invisible i {
        display: none;
    }

    .publi {
        margin-top: .3em;
        width: 100%;
    }
   
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .menu {
        border: 4px;
        padding: 2px;
        flex-direction: column;
        align-items: stretch;
    }

    .social{
        display: flex;
        flex-flow: row wrap;
        align-self: center;
        border: 0px;
        padding: 5px;
    }

    h1 {
        font-size: 1.6em;
          
    }
    
    .text_header i{
        vertical-align: bottom;
        font-size: 0.8em;

    }

    .seccion {
        flex-direction: column;
        }
    
    .columnas{
        column-count: 1;
        width: 100%;
    }

    .publi {
        width: 100%;
    }

    aside {
         margin-top: .3em;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .menu {
        border: 4px;
        padding: 2px;
        flex-direction: column;
        align-items: stretch;
    }

    .social{
        display: flex;
        flex-flow: row wrap;
        align-self: center;
        border: 0px;
        padding: 5px;
    }

    h1 {
        font-size: 1.6em;
          
    }
    
    .text_header i{
        vertical-align: bottom;
        font-size: 0.8em;

    }

    .seccion {
        flex-direction: column;
        }
    
    .columnas{
        column-count: 1;
        width: 100%;
    }

    .publi {
        width: 100%;
    }

    aside {
         margin-top: .3em;
    }

}


/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) { ... }

/* X-Large devices (large desktops, less than 1400px) */
/* @media (max-width: 1399.98px) { ... } */


