/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@400;500;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); */

* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

body {
	font-family: 'Roboto', Helvetica, sans-serif;
    margin: auto;
    max-width: 1200px;
}
.padre {
    display: flex;
    flex-flow: column nowrap;
}

.margen-interno {
    padding: 0 50px;
}

    .header {
        background: url(../img/header.jpg);
        flex-flow: column nowrap;
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        margin-bottom: .5em;
        height: 250px;
    }

    /****** MENÚ ******/
        .menu {
            font-family: 'Roboto Condensed';    
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
        }

            .logo {
                margin: auto;
                padding: 0px;
                flex: 1 1 auto;
             }
           
            
            .logo_img img{
                /* object-fit: cover;
                flex: 1 1 auto;
                width: auto; */
                height: 5rem;
                width: auto;
            }

            .nav {
                flex: 5 1 auto;
                align-self: center;
            }
                .nav a {
                    padding: 0 10px;
                    text-decoration: none;
                    color: silver;
                    /* text-transform: uppercase; 
                    letter-spacing: 2px; */
                }

                .nav a:hover {
                    text-decoration: none;
                    color: dimgray;
                }        

            .social {
                display: flex;
                flex: 1 1 auto;
                padding: 0 5px;
            }

            .social a {
                color: silver;
            }
            .social a:hover {
                color: dimgray;
            }  

    /****** FINAL MENÚ ******/

    .text_header {
        font-family: 'Roboto Slab';
	    text-align: center;
        background: rgba(0,0,0,.1);
    }
       h1 {
            padding: 33px 25px 0px 25px;
            color:rgba(240, 128, 128,.6);
            
        }
        
        .text_header i{
            font-size: 30px;
        }

    .seccion {
        margin: 0px;
        /* background: #dcdcdc; */
        display: flex;
    }

    .articulos {
        flex:2 1 auto;
        display: flex;
        flex-flow: row wrap;
        background: green;
        /* padding: 4px; */
    }
        .articulo{
            flex: 1 1 45%;
            color: dimgray;
            font-size: 13px;
            text-align: start;
            /*letter-spacing: 1px; */
            margin: 10px 10px 0px 0px;
            background: #f7f7f7;
        }

        .columnas{
            column-count: 2; /* número de columnas */
            column-gap: 10px; /* ancho de columnas */
            /*  column-rule: 1px outset dimgray; */   /* elemento de separación entre columnas */
            }

        .articulo img{
            width: 100%;
            margin-bottom: 1em;
        }

        .articulo a{
            color: #fff;
            font-size: 13px;
            padding: 10px;
            background: silver;
            margin: 10px 0px 0px 10px;
            display: inline-block;
            text-decoration: none;

        }

        .articulo a:hover{ /****** TEXTO --> Leer más... ******/
            background: rgba(240, 128, 128,.6);
        }
       
        h3{
            font-family: 'Roboto';
            font-weight: 300;
            color: rgb(251, 241, 92);
            font-size: 16px;
            padding: 15px 0;
            margin-left: 10px;
            margin-top: -80px;
        
        }

       .articulo h2{
            display: flex;
            font-family: 'Roboto Condensed';
            font-size: 28px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 10px;
            padding: 10px 0px 0px 10px;
            color: white;
            background-color: salmon;  
            flex: 1 1 auto;          
        }

        p{
            font-size: 14px;
        }

    .aside {
        background: red;
        flex: 1 1 auto;
        /* padding: 10px 0px 0px 5px; */
        flex-flow: column wrap;
    }

        .publi {
            background: rgb(245, 245, 245);
        }

        .publi h4{
            background-color: black;
            color: white;
            padding: 10px;
        }

        .publi img{
            background: whitesmoke;
            margin: 0px;
            padding: 5px;
            width: 100%;
        }

    .navegacion {
        background: #FFC3C3;
        flex: 1 1 100%;
    }

    .footer {
        background: black;
        display: flex;
        justify-content: center;
    }
        .pie {
            width: 300px;
            background: #9EB23B;
        }



    /*
    @media (max-width: 600px) {
        nav {

        }
        .nav-link {
            margin: 10px 0;
        }
        .nav-button {
            display: inline-block;
        }

        .invisible {
            display: none;
        }
    }

    */



/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .articulos {
        flex-direction: column;
    }
    .columnas{
        column-count: 1;
    }
    .aside{
        flex-direction: column;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .articulos {
        flex-direction: column;
    }

    .columnas{
        column-count: 1;
    }

    .seccion {
        flex-direction: column;
    }

    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .columnas{
        column-count: 1;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { ... }